In [1]:
from nba_api.stats.static import teams
import pandas as pd
import sqlite3

In [2]:
team_data=teams.get_teams()

In [5]:
connection = sqlite3.connect('data/nba.db')

In [15]:
df=pd.read_sql("select * from ATL", connection)

In [18]:
c=0
for idx,t in enumerate(team_data):
    if idx==0:
        continue
    print(t['abbreviation'])
    df.append(pd.read_sql("select * from "+str(t['abbreviation']), connection))
    c+=1
    if c==1:
        break

BOS

In [19]:
df

,index,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,opponent
0,0,22019,1610612737,ATL,Atlanta Hawks,0021900969,2020-03-11,ATL vs. NYK,L,265,...,15,38,53,26,6.0,3,17,25,0.0,NYK
1,1,22019,1610612737,ATL,Atlanta Hawks,0021900957,2020-03-09,ATL vs. CHA,W,290,...,12,41,53,33,1.0,5,15,26,5.0,CHA
2,2,22019,1610612737,ATL,Atlanta Hawks,0021900943,2020-03-07,ATL @ MEM,L,240,...,14,32,46,23,9.0,2,14,24,-17.0,MEM
3,3,22019,1610612737,ATL,Atlanta Hawks,0021900930,2020-03-06,ATL @ WAS,L,239,...,6,30,36,25,9.0,4,17,25,-6.0,WAS
4,4,22019,1610612737,ATL,Atlanta Hawks,0021900905,2020-03-02,ATL vs. MEM,L,239,...,16,27,43,20,6.0,8,17,21,-39.0,MEM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,3307,21983,1610612737,ATL,Atlanta Hawks,0028300058,1983-11-06,ATL @ MIL,L,240,...,11,26,37,18,4.0,5,14,24,NaN,MIL
3308,3308,21983,1610612737,ATL,Atlanta Hawks,0028300041,1983-11-04,ATL vs. CHI,W,240,...,19,27,46,31,14.0,13,18,27,NaN,CHI
3309,3309,21983,1610612737,ATL,Atlanta Hawks,0028300027,1983-11-01,ATL vs. WAS,W,240,...,12,29,41,20,7.0,10,16,34,NaN,WAS
3310,3310,21983,1610612737,ATL,Atlanta Hawks,0028300014,1983-10-29,ATL vs. DET,W,240,...,27,21,48,28,14.0,7,23,35,NaN,DET
3311,3311,21983,1610612737,ATL,Atlanta Hawks,0028300005,1983-10-28,ATL @ NJN,L,240,...,15,18,33,14,10.0,5,17,30,NaN,NJN